{% extends 'base.html' %}

{% block content %}

		{% if messages %}
			{% for message in messages %}
				{{ message }}
			{%  endfor %}
		{% endif %}

				
		<h1 style="font-family: Gabriola;">Add another Customer Record in the form below</h1>

  	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-secondary"><a class="nav-link" href="{% url 'home' %}">Back</a></button>
			<input type="submit" value="Submit" class="btn btn-primary" name="submitted">
	</form>
	
{% endblock %}

